<h1>Your Profile</h1>

<div class='profile-text'>
  Name: <%= @user.first_name %> <%= @user.last_name %> <br />

  Username: <%= @user.username %><br />

  Email: <%= @user.email %><br />
</div>

<div class='profile-avatar'>
  <%= image_tag(@user.avatar.thumb) %>
</div>
</br>
<button class='button'><%= link_to 'Edit Profile', edit_user_registration_path %></button>
<button class='button'><%= link_to 'Back', root_path %></button>
