<h1>Resaurant Detail:</h1>

<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Address: <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %>, <%= @restaurant.zip %>
  <li>Dollar Value: <%= @restaurant.dollar_value %></li>
  <li>Description: <%= @restaurant.description %></li>
  <li>Picture: <%= @restaurant.picture %></li>
  <li>Phone: <%= @restaurant.phone_number %></li>
  <li>URL: <%= @restaurant.website_url %></li>
</ul>

<%= link_to 'Delete this restaurant', admin_restaurant_path(@restaurant.id), method: :delete %>
